<!doctype html>
{%load static%}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
      Esp@rse M@trix/Internship</title>
  <link href="https//fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{%static 'css/style-starter.css'%}">
</head>
<style>
    form {
  border-color: orange;
padding:12px;
  border-style: dashed;
  }

    .dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
h3 {
  text-shadow: 2px 2px #FF0000;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);

}
table, th, td {
  padding: 25px;
}
table {
align:center;
margin-left:120px;
  border-spacing: 15px;
}
</style>
<body>

    <header id="site-header" class="fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark stroke">


      <a class="navbar-brand" href="(% url 'index'%}">
          <img src="{%static 'images/logo.png'%}" style="height:50px;" />
      </a>
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index'%}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'intern'%}">Internship</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Partnership</a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="#">Courses</a>
            </li>
              <li class="nav-item ">
              <a class="nav-link" href="{% url 'blog'%}">Blog</a>
            </li>

             <div class="dropdown">
            <li class="top-quote ml-lg-4 mt-lg-0 mt-3">
              <a  class="btn btn-style btn-primary">LOGIN</a>
                <div class="dropdown-content">
    <a href="{% url 'login'%}">User </a>
    <a href="{% url 'companylogin' %}">Company </a>
  </div>
              </div>
            </li>
              <div class="dropdown">
             <li class="top-quote ml-lg-4 mt-lg-0 mt-3">
              <a  class="btn btn-style  btn-primary">SIGN UP</a>
                  <div class="dropdown-content">
    <a href="{% url 'usersignup' %}">User </a>
    <a href="{% url 'companysignup' %}">Company </a>
  </div>
            </li>
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->

        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container py-1">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>

  <!--/header-->

<div class="inner-banner">
</div>
{%block content%}
   <h3 align="center" >We're transforming the lives of millions of students.<br>
    Join us in our quest.</h3><img src="{%static 'images/click.png'%}" width="200px" style="margin-left:850px"  align="center">
<a href="{% url 'apply'%}">Apply for Internship</a>

<div class="container-fluid">
    <img src="{%static 'images/s.jpg'%}"  style="margin-left:150px" width="1000px" align="center">
</div>

     <u><h2 align="center">Services</h2></u>



<table  cellspacing="15">
    <th  cellspacing="15"> <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{%static 'images/software.jpg'%}"  style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h4>Software Development</h4>
<hr>We customise software solutions that enable simplify complicated design business processes and easily integrate with existing technology applications - software products that are personalized to your company's needs to boost results, productivity, customer service, and Effectiveness.


            </a>
          </div>
        </div>
           </div>
            </th>
            <th><div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{%static 'images/webs.jpg'%}"  style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h4>Web Development</h4>
<hr>Web applications are not only about making beautiful websites for us. We create browser-based web applications that provide exceptional functionality experience. Using the latest technology, our team of professionals helps you develop unique, safe, and responsive web applications.


            </a>
          </div>
        </div>
           </div></th>
    <th><div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{%static 'images/app.jpg'%}"  style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h4>App Development</h4>
      <hr>Fabulous phone applications that operate on a variety of platforms and attract large audiences, all while protecting privacy, usability, and functionality. We've designed fully functional mobile apps for solutions and services
          by using recent smart phone modern technologies.</hr>



            </a>
          </div>
        </div>
           </div></th>
        </table>

    <table  cellspacing="15">
    <th  cellspacing="15"> <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{%static 'images/pay.jpg'%}"  style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h4>HRMS & Payroll Software</h4>
<hr>
HRMS, or Human Resource Management System as it is more widely called, is a compilation of all the processes and systems required to effectively manage an organization's HR (human resource) department. Using cutting-edge technology, we've created fully functional HRMS and Payroll software services and solutions.



            </a>
          </div>
        </div>
           </div>
            </th>
            <th><div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{%static 'images/erp.jpg'%}"  style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h4>Manufacturing ERP</h4>
<hr>
Sparse Manufacturing ERP Software is a robust enterprise resource planning framework that helps enterprises to step away from traditional software. Sparse Manufacturing ERP is a solution that allows businesses to thrive in today's market. A greater understanding of the manufacturing processes changes the supply chain, helping you to fulfil your production targets while remaining within budget.

            </a>
          </div>
        </div>
           </div></th>
    <th><div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{%static 'images/crm.jpg'%}"  style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h4>ESPARSE CRM Software</h4>
      <hr>
Esparse CRM software creates new tasks for your team. Automate everything from appointment reminders to follow-up emails by putting your calendar online. With complete contact views, deal tracks, real-time DATA, and other features, you can achieve a significantly higher ROI. In the Sales CRM,


            </a>
          </div>
        </div>
           </div></th>
        </table>
  <!--//grids-->
  <!--/w3l-faq-block-->
  <!--//w3l-faq-block-->

      <!-- move top -->
{%endblock%}
  <section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="footer-list-29 col-lg-4">
            <h6 class="footer-title-29">About Company</h6>
            <p>Esparse Matrix Solution Private Limited is a software development company based in India that serves clients all over the world. We concentrated on providing innovative resources to help clients expand.

    </p>

          </div>

          <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-lg-0 mt-5">

            <ul>
              <h6 class="footer-title-29">Useful Links</h6>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="services.html">Internship</a></li>
              <li><a href="#"> Partnership</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-list-29 footer-3 mt-lg-0 mt-5">

            <ul>
              <h6 class="footer-title-29">Services</h6>
              <li><a href="#team">Web Development</a></li>
              <li><a href="#insta">App Development</a></li>
              <li><a href="#tiling">Software Development </a></li>
              <li><a href="#careers">ERP Software</a></li>
              <li><a href="#help">CRM Software</a></li>
            </ul>

          </div>
          <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Contact Us</h6>
            <ul>
              <li>
                <p><span class="fa fa-map-marker"></span>
                 133/1, Spectrum Building, Gurudwara Colony, Akurdi,
Pune-411033</p>
              </li>
              <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> (+91) 8806668550</a></li>

              <li><a href="mailto:industrie@mail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
                 sparsematrix195@gmail.com</a></li>
            </ul>
          </div>



        </div>
      </div>
    </div>
  </section>

  <section class="w3l-footer-29-main w3l-copyright">
    <div class="container">
      <div class="bottom-copies">
        <p class="copy-footer-29 text-center">  eSparse Matrix Solutions Pvt Ltd.   All Rights Reserved. 2021</p>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>
  <!-- Template JavaScript -->
  <script src="assets/js/jquery-3.3.1.min.js"></script>

  <!-- script for testimonials -->
  <script>
    $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
        loop: true,
        margin: 0,
        nav: true,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script for testimonials -->

  <script src="assets/js/theme-change.js"></script>

  <!-- js for portfolio lightbox -->
  <!-- libhtbox -->
  <script src="{%static 'js/lightbox-plus-jquery.min.js'%}"></script>
  <!-- libhtbox -->
  <script src="{%static 'js/owl.carousel.js'%}"></script>
  <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script -->
<!-- stats number counter-->
<script src="{%static 'js/jquery.waypoints.min.js'%}"></script>
<script src="{%static 'js/jquery.countup.js' %}"></script>
<script>
  $('.counter').countUp();
</script>
<!-- //stats number counter -->

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="{%static 'js/bootstrap.min.js'%}"></script>

</body>
</html>